@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../assets/fonts/trebuchet/Trebuchet-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../assets/fonts/trebuchet/TrebuchetMS-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../assets/fonts/trebuchet/TrebuchetMS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../../assets/fonts/trebuchet/TrebuchetMS-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
