<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <!-- For it to have a proper behavior in mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Basic Vue Frontend Boilerplate | Guilherme B. Schalch</title>
    <meta name="description" content="This is a basic frontend boilerplate developed by Guilherme Burger Schalch">

    <meta property="og:title" content="Basic Vue Frontend Boilerplate | Guilherme B. Schalch">
    <meta property="og:description" content="This is a basic frontend boilerplate developed by Guilherme Burger Schalch">
    <!-- Here we can set an image and an url for showing on social network sharing embeds -->
    <!-- <meta property="og:image" content="facebook-og.png">
    <meta property="og:url" content=""> -->

    <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/css/core-static.min.css">
    <link rel="stylesheet" href="./assets/css/core-dynamic.min.css?v=<!-- @echo version -->">

    <!-- Head JS -->
    <script type="text/javascript" src="./assets/js/core-head.min.js?v=<!-- @echo version -->"></script>

    <link rel="icon" href="./favicon.ico" />
</head>
<body class="loading">
    <div id="test-app">
        <!-- Main Header -->
        <header class="header">
            <div class="main-header grid-x grid-padding-x align-middle">
                <div class="cell shrink show-for-small-only">
                    <button class="mobile-menu-button">
                        <span></span>
                    </button>
                </div>
                <div class="cell shrink logo">
                    <a href="javascript:void(0);" title="Logo">
                        <img src="assets/img/logo.png" alt="Company Logo" />
                    </a>
                </div>
                <div class="cell auto">
                    <div class="grid-x align-right align-middle">
                        <nav class="top-nav hide-for-small-only cell medium-4">
                            <a href="javascript:void(0);" class="top-nav--link">Menu Item</a>
                            <a href="javascript:void(0);" class="top-nav--link">Menu Item 2</a>
                        </nav>
                        <nav class="mobile-menu show-for-small-only cell shrink">
                            <a href="javascript:void(0);"><i class="fal fa-home"></i> Home</a>
                            <a class="active" href="javascript:void(0);"><i class="far fa-briefcase"></i> Menu Item</a>
                            <a href="javascript:void(0);"><i class="fal fa-book"></i> Menu Item 2</a>
                            <a href="javascript:void(0);"><i class="fal fa-envelope"></i> Contact</a>
                        </nav>
                        <div class="cell shrink">
                            <button open-modal="modal-login"><i class="fal fa-sign-in-alt"></i> Login</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-header grid-x grid-padding-x">
                <div class="cell medium-5">
                    <nav class="header-breadcrumbs">
                        <a href="javascript:void(0);" class="header-breadcrumbs-link"><i class="far fa-home"></i>&nbsp; </a>&gt;
                        <a href="javascript:void(0);" class="header-breadcrumbs-link">Business </a>&gt;
                        <a href="javascript:void(0);" class="header-breadcrumbs-link active">{{pageArticle.title}} </a>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Page Section -->
        <main role="main">
            <hr class="clear thick">
            <section class="grid-container grid-x grid-padding-x">

                <!-- Main Article -->
                <article class="cell medium-8">
                    <!-- Article's Header -->
                    <header>
                        <hgroup>
                            <h2>Business</h2>
                            <h1>{{pageArticle.title}}</h1>
                        </hgroup>
                        <ul class="article-details grid-x grid-margin-x">
                            <li class="cell shrink">
                                <i class="far fa-user"></i> Author
                            </li>
                            <li class="cell shrink">
                                <i class="far fa-clock"></i> January 5, 2018
                            </li>
                            <li class="cell shrink">
                                <i class="far fa-comment"></i> 11
                            </li>
                        </ul>
                    </header>

                    <hr class="clear thick" />

                    <!-- Article's Image -->
                    <section v-if="!loadingArticle">
                        <figure class="article-image">
                            <img :src="pageArticle.photo.url" :alt="pageArticle.photo.title">
                            <figcaption>{{pageArticle.photo.title}}</figcaption>
                        </figure>
                    </section>

                    <!-- Sharing Section -->
                    <section class="grid-x grid-margin-x">
                        <div class="cell auto">
                            <button class="expand">
                                <i class="fab fa-facebook"></i> Share on Facebook
                            </button>
                        </div>
                        <div class="cell auto">
                            <button class="expand">
                                <i class="fab fa-twitter"></i> Share on Twitter
                            </button>
                        </div>
                        <div class="cell shrink">
                            <button>
                                <i class="fab fa-google-plus"></i>
                            </button>
                        </div>
                        <div class="cell shrink">
                            <button>
                                <i class="fab fa-pinterest"></i>
                            </button>
                        </div>
                    </section>

                    <hr class="clear" />

                    <!-- Article's Content -->
                    <section>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cumque sapiente, praesentium suscipit? Explicabo, dignissimos beatae? Rem incidunt, eius adipisci pariatur quod dolore quibusdam veniam, beatae debitis illo ratione amet.</p>
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque pariatur dicta consequuntur, praesentium iusto doloribus molestiae ipsa aut modi commodi recusandae, est voluptatibus ut odit debitis, autem sit esse magnam.</strong></p>
                    </section>

                    <hr class="clear thick" />

                    <!-- Article's Footer -->
                    <footer>
                        <!-- Article's Author Details -->
                        <section class="grid-x grid-padding-x">
                            <h4 class="cell small-12 section-title">About Author</h4>
                            <hr class="cell small-12 thick" />
                            <div class="cell shrink">
                                <figure>
                                    <img src="assets/img/author_example.gif" alt="Author Name">
                                </figure>
                            </div>
                            <div class="cell auto">
                                <h3>John Does</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod veritatis fugit deleniti voluptatum quas, ab eum, quasi autem soluta voluptates accusamus consectetur nihil minima, earum! Fuga explicabo illo veniam, voluptatibus?</p>
                            </div>
                        </section>

                        <hr class="thick" />

                        <!-- Next and Previous Article's -->
                        <section class="grid-x grid-padding-x align-middle">
                            <div class="cell small-6 text-left">
                                <a href="javascript:void(0)"><i class="fal fa-angle-left"></i> Previous Article</a>
                                <p><strong>The surprising way this designer picked the previous article</strong></p>
                            </div>
                            <div class="cell small-6 text-right">
                                <a href="javascript:void(0)">Next Article <i class="fal fa-angle-right"></i></a>
                                <p><strong>The surprising way this designer picked the next article</strong></p>
                            </div>
                        </section>

                        <hr class="thicker" />

                        <!-- Related Articles -->
                        <section class="grid-x grid-padding-x">
                            <h4 class="cell small-8 section-title">Related Articles</h4>
                            <div class="cell small-4 text-right">
                                <button class="smaller transparent gradienty">
                                    <i class="fal fa-angle-left"></i>
                                </button>
                                <button class="smaller transparent gradienty">
                                    <i class="fal fa-angle-right"></i>
                                </button>
                            </div>
                            <div class="cell small-12">
                                <hr />
                            </div>
                        </section>

                        <!-- Related Articles Slider -->
                        <section>
                            <ul class="articles-slider ui-slick">
                                <li v-for="relatedArticle in relatedArticles">
                                    <a href="javascript:void(0)">
                                        <figure>
                                            <!-- Had to keep hard-coded since JSON doesn't provide the thumbnail -->
                                            <img src="assets/img/article_slider_example.gif" alt="Article Slider Example" />
                                        </figure>
                                        <p>
                                            <strong>{{relatedArticle.title}}</strong>
                                        </p>
                                        <section class="grid-x grid-padding-x align-justify">
                                            <div class="cell small-6">
                                                <i class="far fa-user"></i> Mr. Id {{relatedArticle.id}}
                                            </div>
                                            <div class="cell small-6">
                                                <i class="far fa-clock"></i> January 5, 2018
                                            </div>
                                        </section>
                                    </a>
                                </li>
                            </ul>
                        </section>

                        <hr class="clear thick" />

                        <!-- Ads -->
                        <section>
                            <img src="assets/img/ad_example.gif" alt="Ad">
                        </section>

                        <hr class="clear thick" />

                        <!-- Comments Section -->
                        <section>
                            <h4 class="section-title">11 Comments</h4>
                            <hr />
                            <section class="comments-area">
                                <div class="grid-x grid-padding-x comment main-thread">
                                    <div class="cell shrink">
                                        <figure>
                                            <img src="assets/img/author_example.gif" alt="Author Name">
                                        </figure>
                                    </div>
                                    <div class="cell auto">
                                        <h3>John Does</h3>
                                        <p class="comment-date">January 6, 2018 at 6:00 am</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod veritatis fugit deleniti voluptatum quas, ab eum, quasi autem soluta voluptates accusamus consectetur nihil minima, earum! Fuga explicabo illo veniam, voluptatibus?</p>
                                        <button class="smaller">Reply</button>
                                    </div>
                                </div>
                                <div class="grid-x grid-padding-x comment reply">
                                    <div class="cell shrink">
                                        <figure>
                                            <img src="assets/img/author_example.gif" alt="Author Name">
                                        </figure>
                                    </div>
                                    <div class="cell auto">
                                        <h3>Roger Does</h3>
                                        <p class="comment-date">January 6, 2018 at 6:00 am</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod veritatis fugit deleniti voluptatum quas, ab eum, quasi autem soluta voluptates accusamus consectetur nihil minima, earum! Fuga explicabo illo veniam, voluptatibus?</p>
                                        <button class="smaller">Reply</button>
                                    </div>
                                </div>
                            </section>
                        </section>

                    </footer>
                </article>

                <!-- Aside -->
                <aside class="cell medium-4">
                    <!-- Social Cloud -->
                    <section class="social-cloud grid-x grid-padding-x">
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-facebook"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-google-plus"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-instagram"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-pinterest"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-twitter"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                        <div class="cell medium-4 small-6">
                            <i class="fab fa-youtube"></i>
                            <p>12324 <br /> Likes</p>
                        </div>
                    </section>

                    <hr class="clear thick" />

                    <!-- Subscription Section -->
                    <section>
                        <h5>Subscribe for News</h5>
                        <hr class="thin" />
                        <form @submit.prevent="">
                            <div class="ui-form-input has-icon">
                                <input type="email" />
                                <label>Your e-mail address</label>
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="text-right">
                                <button class="small" open-modal="modal-subscribe">Signup</button>
                            </div>
                        </form>
                    </section>

                    <hr class="clear thick" />

                    <!-- Tags -->
                    <section class="tag-cloud">
                        <h5>Tags</h5>
                        <hr class="thin" />
                        <a class="smaller button dark transparent tag" href="javascript:void(0)">Tag</a>
                        <a class="smaller button dark transparent tag" href="javascript:void(0)">Article</a>
                        <a class="smaller button dark transparent tag" href="javascript:void(0)">Test</a>
                        <a class="smaller button dark transparent tag" href="javascript:void(0)">Design</a>
                        <a class="smaller button dark transparent tag" href="javascript:void(0)">Guilherme</a>
                    </section>
                </aside>

            </section>
        </main>

        <!-- Main Footer -->
        <footer class="footer grid-container grid-x grid-padding-x">
            <hr class="cell small-12 thick">

        </footer>

        <!-- Modals -->
        <!-- Success (shows after succesfully sending form data) -->
        <div id="modal-success" class="modal grid-x align-center-middle">
            <div class="overlay"></div>
            <div class="modal-content cell">
                <a class="close" href="javascript:void(0)">&times;</a>
                <h2 class="modal-title">Subscription succesful!</h2>
                <div class="modal-body">
                    <div class="text-center">
                        <i class="big-icon green fal fa-check-circle"></i>
                        <p>Great! You have succesfully subscribed.<br />One of our Senior Engineers may contact you soon.</p>
                    </div>
                    <hr class="clear thick" />
                    <button class="larger expand close-modal"><i class="far fa-thumbs-up"></i> Very Nice!</button>
                </div>
            </div>
        </div>

        <!-- Subscription Modal -->
        <div id="modal-subscribe" class="modal grid-x align-center-middle">
            <div class="overlay"></div>
            <div class="modal-content cell">
                <a class="close" href="javascript:void(0)">&times;</a>
                <h2 class="modal-title">Subscription Modal</h2>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Subscribe here for receiving stuff of your interest.<br />You can unsubscribe at any time.</p>
                        <div class="ui-form-input has-icon">
                            <input type="text" id="f_job_alert_email" name="f_job_alert_email" />
                            <i class="fal fa-envelope"></i>
                            <label for="f_job_alert_email">Your e-mail</label>
                        </div>
                    </div>
                    <hr class="clear thick" />
                    <button class="larger expand" open-modal="modal-success"><i class="far fa-thumbs-up"></i> Subscribe!</button>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div id="modal-login" class="modal small grid-x align-center-middle">
            <div class="overlay"></div>
            <div class="modal-content cell">
                <a class="close" href="javascript:void(0)">&times;</a>
                <h2 class="modal-title">Login</h2>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Login with your e-mail and password.<br /> <a href="javascript:void(0)">Don't have an account?</a></p>
                        <div class="ui-form-input has-icon">
                            <input type="text" id="f_login_email" name="f_login_email" />
                            <i class="fal fa-envelope"></i>
                            <label for="f_login_email">Your e-mail</label>
                        </div>
                        <div class="ui-form-input has-icon">
                            <input type="text" id="f_login_password" name="f_login_password" />
                            <i class="fal fa-key"></i>
                            <label for="f_login_password">Password</label>
                        </div>
                    </div>
                    <hr class="clear thick" />
                    <button class="large expand close-modal">Login</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Env -->
    <script src="./config/env.js?v=<!-- @echo version -->"></script>

    <!-- Static JS (vendors), the ones we don't touch -->
    <script src="./assets/js/core-static.min.js"></script>
    <!-- Dynamic JS, the ones we deal with -->
    <script src="./assets/js/core-dynamic.min.js?v=<!-- @echo version -->"></script>
</body>
</html>
