// Animations

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Buttons Animations
@keyframes spinnerloading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes growicon {
  0% { transform: scale(0); }
  70% { transform: scale(1.75); }
  100% { transform: scale(1); }
}