// Colors (Bg, Text and Borders)
$listColors : (
    primary:   $Primary,
    secondary: $Secondary,
    black:     $Black,
    gray1:     $Gray1,
    gray2:     $Gray2,
    gray3:     $Gray3,
    gray4:     $Gray4,
    gray5:     $Gray5,
    gray6:     $Gray6,
    gray7:     $Gray7,
    white:     $White,
    green:     $Green1,
    green2:    $Green2,
    red1:      $Red1,
    red2:      $Red2,
);

.bg-color {
    &.transparent {
        background-color: transparent;
    }

    @each $colorClass, $finalColor in $listColors {
        &.#{$colorClass} {
            background-color:$finalColor;
        }
    }
}

.text-color {
    @each $colorClass, $finalColor in $listColors {
        &.#{$colorClass} {
            color:$finalColor;
        }
    }
}

.border-color {
    .transparent {border-color:transparent;}
    @each $colorClass, $finalColor in $listColors {
        &.#{$colorClass} {
            border-color:$finalColor;
        }
    }
}